<div ng-show="login">
    <span>Login: <strong>{{login}}</strong></span><br/>
    <img ng-src="{{avatar_url}}" width="80" height="80" />
    
    <div>        
        <form class="uk-form">

            <fieldset data-uk-margin>
                <legend>Choose a repository</legend>
                <select ng-model="selectedRepo" ng-options="repo.name for repo in repos" 
                ng-change="update(selectedRepo.full_name)"></select>
            </fieldset>

        </form>
        

    </div>
    
    <table ng-show="commits" class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Date</th><th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="commit in commits | orderBy:'-date'">
              <td>{{commit.date | date:'M/d/yyyy'}}</td>
              <td>{{commit.message}}</td>
            </tr>
        </tbody>
    </table>

    <br/><span ng-show="!commits && selectedRepo">No Commits on {{selectedRepo.full_name}}</span>
</div>