<div ng-show="login">
    <span>Login: <strong>{{login}}</strong></span><br/>
    <img ng-src="{{avatar_url}}" width="80" height="80" />
    <select ng-model="selectedRepo" ng-options="repo.name for repo in repos" ng-change="update(selectedRepo.full_name)"></select>
    
    <table ng-show="commits">
        <thead>
            <tr>
                <td>Date</td><td>Message</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="commit in commits | orderBy:+commit.commit.committer.data">
              <td>{{commit.commit.committer.date | date:'M/d/yyyy'}}</td>
              <td>{{commit.commit.message}}</td>
            </tr>
        </tbody>
    </table>
</div>