<!DOCTYPE html>

<html>

    <head>
        <!-- stylesheets -->
        <link rel="stylesheet" href="assets/libs/uikit-2.20.3/css/uikit.css"/>
        <link rel="stylesheet" href="assets/libs/uikit-2.20.3/css/components/notify.css"/>
        
        <!-- 3rd party scripts -->
        <script src="assets/libs/jquery/jquery-2.1.4.min.js"> </script>
        <script src="assets/libs/uikit-2.20.3/js/uikit.js"> </script>
        <script src="assets/libs/uikit-2.20.3/js/components/notify.js"></script>
        <script data-require="angular.js@*" data-semver="1.4.0-rc.2"
                src="https://code.angularjs.org/1.4.0-rc.2/angular.js">
        </script>
        
        <!-- custom scripts -->
        <script src="app/app.modules.js"></script>
        <script src="app/components/home/homeController.js"></script>
        <script src="app/shared/factories/githubFactory.js"></script>
        

    </head>

    <body ng-app="homeModule">
        
        <div ng-controller="homeController">
            
            <form name="authForm" ng-submit="exportToCSV(username, authtoken)">
                <input type="text" name="username" placeholder="username" ng-model="username"/>
                <input type="text" name="authtoken" placeholder="personal auth token" ng-model="authtoken"/>

                <input type="submit" value="export"/>
            </form>

            <div ng-include="'app/components/view/userdetails.html'"></div>
            
        </div>
    </body>
    
</html>