<div ng-show="login">
    <span>Login: <strong>{{login}}</strong></span><br/>
    <img ng-src="{{avatar_url}}" width="80" height="80" />
    
    <div>        
        <form class="uk-form">

            <fieldset data-uk-margin>
                <legend>Choose a repository</legend>
                <select ng-model="selectedRepo" ng-options="repo.name for repo in repos" 
                ng-change="update(selectedRepo.full_name)"></select>
            </fieldset>

        </form>
        

    </div>


    <table ng-show="userCommits" class="uk-table uk-table-striped">
        <thead>
            <tr class="uk-text-bold">
                <th>Date</th><th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(date,commits) in userCommits">
                <td class="uk-text-left">
                  {{date}}
                </td>
                <td class="uk-text-left">
                    <ul class="uk-list" ng-repeat="commitMessage in commits">
                        <li>{{commitMessage}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    
    <br/><span ng-show="!userCommits && selectedRepo">No Commits on {{selectedRepo.full_name}}</span>
</div>